/* =========================
   FOOTER
========================= */

.site-footer {
    width: 100%;

    background: #111827;

    color: #d1d5db;

    border-top: 1px solid #273244;

    margin-top: 50px;
}


.footer-container {
    max-width: 1200px;

    min-height: 80px;

    margin: auto;

    padding: 20px 25px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;
}


.footer-container p {
    margin: 0;

    font-size: 14px;
}